*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main{
background: orangered;
width: 200px;
height: 200px;
border-radius: 50%;
border: 25px solid white;
border-top: 20px solid indigo;
animation: anime 2.5s linear infinite;
}
@keyframes anime {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}